@import '~@angular/material/theming';

.top-bar {
	width: 100%;
	height: 98px;
	background: #4EC8F0;
	position: absolute;
	top: 0;
	bottom: 0;
}

.schedular-cont {
	padding: 17px 75px 0 0; 
	box-sizing: border-box;
	width: 1728px;
	transform-origin: 0 0;
}

.day_status {
	color: #FFFFFF;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 5px;
	float: left;
	cursor: pointer;
}

.date-selector {
	position: relative;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #A5A5A5;
    padding: 1px 5px;
    max-width: 340px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0 0;
    height: 35px
}

.date-selector-label {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #56CCF2;
	/*padding-top: 5px*/
}

.other-day {
	font-size: 13px;
	padding-top: 3px;
}

.selector-icon {
	width: 30px;
	height: 30px;
	font-size: 30px;
    color: #63CCF2;
	cursor: pointer;
}

.search_panel {
	position: relative;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #A5A5A5;
	width: 340px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0;
	display: inline-block;
	height: 35px;
	box-sizing: border-box;
	vertical-align: middle;
}

.search-input {
	padding: 7px 10px 7px 10px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	font-size: 12px;
	height: 35px;
	background: none;
}

.search-input::placeholder {
	color: #A5A5A5;
	font-size: 12px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.search-panel-icon {
	color: #63CCF2;
	width: 20px;
	height: 20px;
	font-size: 20px;
}

.vh_center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
}

.plus-btn-cont {
	position: relative;
    /* background: #fff; */
    border-radius: 5px;
    /* border: 1px solid #A5A5A5; */
    width: 34px;
    height: 34px;
    padding: 5px;
    margin-top: 0;
    display: inline-block;
    margin-left: 4px;
	margin-right: 4px;
    text-align: center;
    box-sizing: border-box;
	vertical-align: middle;
}

.panelClass.mat-dialog-container {
	@include mat-elevation(0);
}

.today-marker {
	width: 10px;
	height: 10px;
	border: 2px solid #fe0000;
	border-radius: 100px;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	margin-top: -5px;
	margin-right: 10px;
}

.location-selection {
	float: left;
	margin-top: 5px;
	cursor: pointer;
	color: #FFFFFF;
}

.clear {
	clear: both;
}

.scroll-btn {
	margin-top: 10px;
    text-align: center;
    /*padding-left: 53px;*/
	position: relative;
	height: 25px;
	width: 40px;
	margin-bottom: 10px;
}

.scroll-btn-img {
	position: absolute;
	left: 53px;
	right: 0;
	margin: auto;
}

.calenderyr {
	margin-left: 7px;
}

.lastnames-list {
	width: 340px;
    height: 245px;
    background: #FFFFFF;
    border: 1px solid #A5A5A5;
    position: absolute;
    right: 0;
    top: 33px;
    z-index: 100;
	padding: 5px 0;
	box-sizing: border-box;
}

.lastname-item {
	padding: 2px 10px;
}

.lastitem-label {
	font-size: 14px;
	text-align: right;
	color: #4EC8F0;
	/*padding: 5px 10px;*/
	float: right;
}

.list-item-dob {
	float: left;
    font-size: 9px;
    color: #A5A5A5;
    padding-top: 5px;
}

.notifictn_available {
	position: absolute;
    width: 6px;
    height: 6px;
    background: #FF5A5A;
    top: 6px;
    right: 6px;
    border-radius: 100px;
}

.legend-cont {
	position: absolute;
    bottom: 75px;
    right: 20px;
}

.legend-cont ul {
	list-style: none;
	
}

.appnt-type-block {
	width: 30px;
    height: 9px;
    font-size: 7px;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 5px;
    color: #4C4C4C;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1px
}

.appnt-type-block.yellow {
	background: #FCFF7C;
}

.appnt-type-block.red {
	background: #FD7474;
}

.appnt-type-block.blue {
	background: #74B3FD;
}

.appnt-type-block.orange {
	background: #F6CC61;
}

.appnt-type-block.green {
	background: #8CF1E4;
}

.appnt-type-block.purple {
	background: #B48CF6;
}

.zoom-cont {
	position: absolute;
	bottom: 8px;
	right: 20px;
}

.zoom-btn {
	background: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4px;
	cursor: pointer;
}

.plus-btn {
	border-radius: 100px 0 0 100px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.minus-btn {
	border-radius: 0 100px 100px 0;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.zoom-value {
	display: inline-block;
    width: 60px;
	height: 30px;
	box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    padding: 5px 0;
    border: 1px solid #ccc;
	font-size: 14px;
}

.zoom-value input {
	width: 45%;
    text-align: right;
    border: none;
    padding-right: 2px;
	font-size: 14px;
}

.zoom-icon {
	width: 20px;
	height: 20px;
	font-size: 20px;
	margin: auto;
}

.clone-container {
	width: 500px;
	height: 500px;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #ccc;
}



