<div class="pagetitle">PROFESSIONAL REFERRALS</div>

<div class="main-cont" [ngStyle]="{'width': (accordOpen == true ? 1061 : 455) + 'px'}">

	<div class="information-box-cont">
		<div class="box-title">I N F O R M A T I O N</div>
		<div class="box-content">
			<div class="flip-container">
				<div class="flipper" [ngStyle]="{'transform': 'rotateY(' + rotateOnY + 'deg)'}">
					<div class="card1">
						
						<div class="selector" [ngStyle]="{'height': selectorHeight + 'px', 'top': selectorTop + 'px'}" *ngIf="accordOpen"></div>
						
						<ul>
							<li class="orginfo">
								<!-- <div class="selector" [ngStyle]="{'height': selectorHeight + 'px'}"></div> -->
								<div class="org-name">Apex Dental</div>
								<div class="org-location">Riverton, UT</div>
								<div class="clear"></div>
								
								<div class="org-overlay" (click)="showDetails($event, 0)"></div>
								
								<div class="doclist-cont" [ngStyle]="{'height': docListAcrd[0].accordOpen == true ? 'auto' : '0px'}">
									<ul class="doc-list-cont">
										<li class="doc-list">
											<div class="doc-name">Dr. Jenny Mcmurtrey</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
									</ul>
								</div>
							</li>
							
							<li class="orginfo">
								<!-- <div class="selector"></div> -->
								<div class="org-name">Canyon View Dental Clinic</div>
								<div class="org-location">Spanish Fork, UT</div>
								<div class="clear"></div>
								
								<div class="org-overlay" (click)="showDetails($event, 1)"></div>
								
								<div class="doclist-cont" [ngStyle]="{'height': docListAcrd[1].accordOpen == true ? 'auto' : '0px'}">
									<!-- <ul class="doc-list-cont">
										<li class="doc-list">
											<div class="doc-name">Dr. Jenny Mcmurtrey</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
									</ul> -->
								</div>
							</li>
							
							<li class="orginfo">
								<!-- <div class="selector"></div> -->
								<div class="org-name">Hobble Creek Dental</div>
								<div class="org-location">Springville, UT</div>
								<div class="clear"></div>
								
								<div class="org-overlay" (click)="showDetails($event, 2)"></div>
								
								<div class="doclist-cont" [ngStyle]="{'height': docListAcrd[2].accordOpen == true ? 'auto' : '0px'}">
									<!-- <ul class="doc-list-cont">
										<li class="doc-list">
											<div class="doc-name">Dr. Jenny Mcmurtrey</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
									</ul> -->
								</div>
							</li>
							
							<li class="orginfo">
								<!-- <div class="selector"></div> -->
								<div class="org-name">Stonehaven Dental</div>
								<div class="org-location">Lehi, UT</div>
								<div class="clear"></div>
								
								<div class="org-overlay" (click)="showDetails($event, 3)"></div>
								
								<div class="doclist-cont" [ngStyle]="{'height': docListAcrd[3].accordOpen == true ? 'auto' : '0px'}">
									<ul class="doc-list-cont">
										<li class="doc-list">
											<div class="doc-name">Dr. Jenny Mcmurtrey</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
										
										<li class="doc-list">
											<div class="doc-name">Dr. Tyson Perrero</div>
											<div class="doc-desg">Ortho</div>
											<div class="clear"></div>
										</li>
										
										<li class="doc-list">
											<div class="doc-name">Dr. Brett Tobler</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
										
										<li class="doc-list">
											<div class="doc-name">Dr. Eric Tobler</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
										
										<li class="doc-list">
											<div class="doc-name">Dr. Nathan Tobler</div>
											<div class="doc-desg">Ortho</div>
											<div class="clear"></div>
										</li>
										
										<li class="doc-list">
											<div class="doc-name">Kate Stone</div>
											<div class="doc-desg">Admin</div>
											<div class="clear"></div>
										</li>
									</ul>
								</div>
							</li>
							
							<li class="orginfo">
								<!-- <div class="selector"></div> -->
								<div class="org-name">Stonehaven Dental</div>
								<div class="org-location">Orem, UT</div>
								<div class="clear"></div>
								
								<div class="org-overlay" (click)="showDetails($event, 4)"></div>
								
								<div class="doclist-cont" [ngStyle]="{'height': docListAcrd[4].accordOpen == true ? 'auto' : '0px'}">
									<!-- <ul class="doc-list-cont">
										<li class="doc-list">
											<div class="doc-name">Dr. Jenny Mcmurtrey</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
									</ul> -->
								</div>
							</li>
							
							<li class="orginfo">
								<!-- <div class="selector"></div> -->
								<div class="org-name">Sunshine Dentistry</div>
								<div class="org-location">West Jordan, UT</div>
								<div class="clear"></div>
								
								<div class="org-overlay" (click)="showDetails($event, 5)"></div>
								
								<div class="doclist-cont" [ngStyle]="{'height': docListAcrd[5].accordOpen == true ? 'auto' : '0px'}">
									<!-- <ul class="doc-list-cont">
										<li class="doc-list">
											<div class="doc-name">Dr. Jenny Mcmurtrey</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
									</ul> -->
								</div>
							</li>
							
							<li class="orginfo">
								<!-- <div class="selector"></div> -->
								<div class="org-name">Riverside Dental Care</div>
								<div class="org-location">St. George, UT</div>
								<div class="clear"></div>
								
								<div class="org-overlay" (click)="showDetails($event, 6)"></div>
								
								<div class="doclist-cont" [ngStyle]="{'height': docListAcrd[6].accordOpen == true ? 'auto' : '0px'}">
									<!-- <ul class="doc-list-cont">
										<li class="doc-list">
											<div class="doc-name">Dr. Jenny Mcmurtrey</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
									</ul> -->
								</div>
							</li>
							
							<li class="orginfo">
								<!-- <div class="selector"></div> -->
								<div class="org-name">Riverside Dental Care</div>
								<div class="org-location">Moab, UT</div>
								<div class="clear"></div>
								
								<div class="org-overlay" (click)="showDetails($event, 7)"></div>
								
								<div class="doclist-cont" [ngStyle]="{'height': docListAcrd[7].accordOpen == true ? 'auto' : '0px'}">
									<!-- <ul class="doc-list-cont">
										<li class="doc-list">
											<div class="doc-name">Dr. Jenny Mcmurtrey</div>
											<div class="doc-desg">DDS</div>
											<div class="clear"></div>
										</li>
									</ul> -->
								</div>
							</li>
						</ul>
				
						<div class="plus-btn" (click)="flipCard()">
							<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="12.5" y="8" width="1" height="10" rx="0.5" fill="#434343"/>
								<rect x="8" y="13.5" width="1" height="10" rx="0.5" transform="rotate(-90 8 13.5)" fill="#434343"/>
								<circle cx="13" cy="13" r="12.5" stroke="#4EC8F0"/>
							</svg>
						</div>					
					</div>
					
					<div class="card2">
						<div fxLayout="row" fxLayoutGap="15px">
							<div fxFlex="50">
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Practice Name" /></div>
									<div class="info-input"><input type="text" placeholder="Degree" /></div>
									<div class="info-input"><input type="text" placeholder="Code" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Full Name" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="First" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Middle" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Last" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Nickname" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Birthday" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Address" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Address 2" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="City" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="State" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Zip" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Office Phone" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Cell Phone" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Fax Area" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Email Address" /></div>
								</div>
								<div class="info-input-section">
									<div class="info-input"><textarea class="notes-textarea" placeholder="Notes"></textarea></div>
								</div>
							</div>
							<div fxFlex="50">
								<div class="info-input-section">
									<div class="info-input"><input type="text" placeholder="Location" /></div>
								</div>
								
								<div class="info-input-section" style="margin-top: 27px;">
									<app-toggle-btn [label]="'Active'"></app-toggle-btn>
								</div>
								
								<div class="info-input-section" style="margin-top: 34px;">
									<app-toggle-btn [label]="'Dentist'"></app-toggle-btn>
								</div>
								
								<div class="info-input-section">
									<app-toggle-btn [label]="'Referral'"></app-toggle-btn>
								</div>
								
								<div class="info-input-section section-title">Professional Groups:</div>
								
								<div class="info-input-section">
									<app-toggle-btn [label]="'Periodontist'"></app-toggle-btn>
								</div>
								
								<div class="info-input-section">
									<app-toggle-btn [label]="'Oralsurgeon'"></app-toggle-btn>
								</div>
								
								<div class="info-input-section">
									<app-toggle-btn [label]="'Periodontist-Pediactric Dentist'"></app-toggle-btn>
								</div>
								
								<div class="info-input-section">
									<app-toggle-btn [label]="'Endodontist'"></app-toggle-btn>
								</div>
								
								<div class="info-input-section">
									<app-toggle-btn [label]="'Prosthodontist'"></app-toggle-btn>
								</div>
								
								<div class="info-input-section section-title" style="margin-top: 85px;">To be included on list:</div>
								<div class="info-input-section">
									<div fxLayout="row" fxLayoutGap="5px">
										<div fxFlex="calc(100% - 25px)">
											<div class="info-input">
												<input type="text"/>
											</div>
										</div>
										<div fxFlex="20px">
											<app-toggle-btn [label]="''"></app-toggle-btn>
										</div>
									</div>
									
									<div fxLayout="row" fxLayoutGap="5px">
										<div fxFlex="calc(100% - 25px)">
											<div class="info-input">
												<input type="text"/>
											</div>
										</div>
										<div fxFlex="20px">
											<app-toggle-btn [label]="''"></app-toggle-btn>
										</div>
									</div>
									
									<div fxLayout="row" fxLayoutGap="5px">
										<div fxFlex="calc(100% - 25px)">
											<div class="info-input">
												<input type="text"/>
											</div>
										</div>
										<div fxFlex="20px">
											<app-toggle-btn [label]="''"></app-toggle-btn>
										</div>
									</div>
									
									<div fxLayout="row" fxLayoutGap="5px">
										<div fxFlex="calc(100% - 25px)">
											<div class="info-input">
												<input type="text"/>
											</div>
										</div>
										<div fxFlex="20px">
											<app-toggle-btn [label]="''"></app-toggle-btn>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						
						<div class="plus-btn" (click)="flipCard()">
							<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="13" cy="13" r="12.5" stroke="#4EC8F0"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M18.899 7.63348C18.6949 7.44751 18.3787 7.46223 18.1927 7.66636L11.2769 15.2575L8.02795 12.2975C7.82382 12.1116 7.50758 12.1263 7.32161 12.3304C7.13564 12.5345 7.15036 12.8508 7.35449 13.0368L10.817 16.1912C10.8442 16.2565 10.8859 16.3171 10.9416 16.3679C11.1458 16.5538 11.462 16.5391 11.648 16.335L18.9319 8.33982C19.1179 8.13569 19.1032 7.81945 18.899 7.63348Z" fill="#434343"/>
							</svg>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>

	<div class="clickiable-cont" *ngIf="accordOpen">
		<div class="box-title">M A R K E T I N G   I N F O</div>
		<div class="clickiable-content">
			<ul>
				<li class="marketing-info">
					<div class="marketing-dt">12/15/18</div>
					<div class="marketing-details">Gingerbread cookies & sparkling cider basket.</div>
					<div class="clear"></div>
				</li>
				
				<li class="marketing-info">
					<div class="marketing-dt">07/14/19</div>
					<div class="marketing-details">Lunch & Learn.</div>
					<div class="clear"></div>
				</li>
				
				<li class="marketing-info">
					<div class="marketing-dt">05/05/18</div>
					<div class="marketing-details">Cinco de mayo chips, salsa & juaritos.</div>
					<div class="clear"></div>
				</li>
				
				<li class="marketing-info">
					<div class="marketing-dt">01/17/18</div>
					<div class="marketing-details">Bread & Honey butter basket.</div>
					<div class="clear"></div>
				</li>
				
				<li class="marketing-info">
					<div class="marketing-dt">09/12/17</div>
					<div class="marketing-details">Lunch with Dr. Brett Tobler & Dr. Nathan Tobler.</div>
					<div class="clear"></div>
				</li>
			</ul>
							
		</div>
	</div>
	
	<div  class="panel3-cont" *ngIf="accordOpen">
		<div class="box-title">C O U N T S</div>
		<div class="panel3">
			
			<div class="panel3-title">2018</div>
			<div class="panel3-content">
				<div class="circular-box-content">
					<div class="panel3-circular-box">16</div>
					<div class="box-label">New patient referrals</div>
				</div>
				<div class="circular-box-content">
					<div class="panel3-circular-box">31%</div>
					<div class="box-label">Started treatment</div>
				</div>
				<div class="circular-box-content">
					<div class="panel3-circular-box" style="font-size: 12px">$31,200</div>
					<div class="box-label">Started treatment</div>
				</div>
				
				<div class="bottom-section">
					<div class="circular-box-content">
						<div class="panel3-circular-box">3</div>
						<div class="box-label">Patient referrals in 2017</div>
					</div>
					<div class="circular-box-content">
						<div class="panel3-circular-box">1</div>
						<div class="box-label">Patient referrals in 2016</div>
					</div>
					<div class="circular-box-content">
						<div class="panel3-circular-box">0</div>
						<div class="box-label">Patient referrals in 2015</div>
					</div>
				</div>
			</div>
			
			<div class="override-section">
				<div class="override-patch-1"></div>
				<div class="override-patch-4"></div>
				<div class="override-patch-2"></div>
				<div class="override-patch-3"></div>
			</div>
		</div>
	</div>
	
</div>