<div class="accordion" [style.height.px]="accordHt">
    <ul>
		
		<li [style.marginRight.px]="-acord_margin" *ngFor="let item of panelArr let indx=index">
            <input type="radio" name="select" class="accordion-select" (change)="activePanel(indx)" [style.height.px]="accordHt" [style.width.px]="zoomWd" />
			
			<div [ngClass]="{'accordion-title': true, 'title-selected': item.checked === true}" [style.height.px]="accordHt-2" [style.width.px]="zoomWd" [style.fontSize.px]="fontsize"><span>{{item.title}}</span></div>
            
			<div class="accordion-content" [style.height.px]="accord_content_Ht" [style.width.px]="acord_cont_wd" *ngIf="item.id == '0'" [@fadeAnimation]="getRouterOutletState(adminoutlet)">
				
               <router-outlet name='adminoutlet' #adminoutlet="outlet"></router-outlet>
			   <mat-spinner class="loader" [mode]="'indeterminate'" diameter="50" *ngIf="loadingRouteConfig"></mat-spinner>
            </div>
			
			<div class="accordion-content" [style.height.px]="accord_content_Ht" [style.width.px]="acord_cont_wd" *ngIf="item.id == '1'" [@fadeAnimation]="getRouterOutletState(scheduleoutlet)">
                <router-outlet name='scheduleoutlet' #scheduleoutlet="outlet"></router-outlet>
				<mat-spinner class="loader" [mode]="'indeterminate'" diameter="50" *ngIf="loadingRouteConfig"></mat-spinner>
            </div>
			
			<div class="accordion-content" [style.height.px]="accord_content_Ht" [style.width.px]="acord_cont_wd" *ngIf="item.id == '3'" [@fadeAnimation]="getRouterOutletState(outreachoutlet)">
                <router-outlet name='outreachoutlet' #outreachoutlet="outlet"></router-outlet>
				<mat-spinner class="loader" [mode]="'indeterminate'" diameter="50" *ngIf="loadingRouteConfig"></mat-spinner>
            </div>
			
			<div class="accordion-content" [style.height.px]="accord_content_Ht" [style.width.px]="acord_cont_wd" *ngIf="item.id == '2'" [@fadeAnimation]="getRouterOutletState(outreachoutletx)">
                <router-outlet name='outreachoutletx' #outreachoutletx="outlet"></router-outlet>
				<mat-spinner class="loader" [mode]="'indeterminate'" diameter="50" *ngIf="loadingRouteConfig"></mat-spinner>
            </div>
			
            <div [ngClass]="{'accordion-separator-float': true, 'accordion-separator': itemclicked == true}" [ngStyle]="{'margin-right': item.checked === true ? acord_margin + 'px' : ''}" ></div>
        </li>
    </ul>
</div>

<!-- <div>
	<div><a [routerLink]="[{ outlets: { adminoutlet: ['admin'], scheduleoutlet: null}}]">Admin</a></div>
	<div><a [routerLink]="[{ outlets: { adminoutlet: null, scheduleoutlet: ['schedule']}}]">Schedule</a></div>
</div>

<router-outlet name="adminoutlet"></router-outlet>
<router-outlet name="scheduleoutlet"></router-outlet> -->